.spinner{
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s liner infinite;
    margin: 20px autp;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

.spinnerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}