.spinner{
    border: 6px solid rgba(0, 0, 0, 0.1);
    border-top: 6px solid #00bcd4;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    animation: spin 1s liner infinite;
    margin-bottom: 1rem;
   
}

.loadingText{
    font-size: 1.2rem;
    color: #333;
}

@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}

.spinnerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background-color: #f9f9f9;
}