
.navbar{
    background-color: #1e1e1e;
    padding: 1rem;
    position: sticky;  
    justify-content: space-between; 
    margin-top: 0;
    
    width: 100%;
    
    z-index: 1000;
   
}

.navContainer{
    display: flex;
    justify-content: center;
    /* flex-wrap: unwrap; */
    gap: 2rem;
}

.navLink{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navLink:hover{
    color: #00bcd4;
}

.active{
    color: #00bcd4;
    border-bottom: 2px solid #00bcd4;
}

@media(max-width: 600px){
    .navContainer{
        /* flex-direction: column; */
        /* align-items: center; */
    }

    .navLink{
        font-size: 1rem;
    }
}