.myComponent {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.repoBox {
    border: 2px solid black;
    border-radius: 10px;
    background-color: lightblue;
    padding: 10px;
    margin: 10px;
}

.img {
    width: 200px;
}