.myComponent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 40px;
}

.repoBox {
    background-color: #e0f7fa;
    border: 1px solid #00796b;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    word-wrap: break-word;
}

.repoBox:hover{
    transform: translate(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.repoName{
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #000000;
    overflow-wrap: break-word;
    word-break: break-all;
    width: 100%;
}

.repoBox p{
    font-size: 0.95rem;
    color: #333;
    margin-bottom: 15px;
}

.repoBox a{
    text-decoration: none;
    color: #00796b;
    font-weight: bold;
    border: 1px solid #00796b;
    border-radius: 6px;
    background-color: #ffffff;
    transition: background-color 0.2s ease;
    margin-top: auto;
}

.repoBox a:hover{
    background-color: #b2dfdb;
}


.img {
    width: 200px;
}

